*,
*::before,
*::after { 
  box-sizing: border-box;
}

* {
	font-family: 'Source Sans Pro', sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition:  all .21s;
  list-style-type: none
}

body {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
	text-decoration: none;
	color: inherit;
}

header {
  height: 4em;
  width: 100%;
  background-color: #000000;
  position: fixed;
}


header h1 {
  -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
  padding: 0.3em;
}

ul {
  display: flex;
  justify-content: space-between;
}

.search-container {
  font-size: 1em;
  padding: 0.5em;
}

header li input, header li button {
  font-size: inherit;
  height: 3em;
  width: 3em;
}

header li input {
  width: 12em;
}

input.search-box {
  padding: 1em;
  display: none;
  border: none;
  border-radius: 100%;
}

input.search-box.active {
  display: inline-block;
  position: relative;
  border-radius: 0;
}

button.search-button {
  border-radius: 100%;
  border: 0;
  background-color: #BC0F00;
  transition: .5s;
}

button.search-button:hover {
  opacity: .9;
  transform: scale(1.1);
  cursor: pointer;
}

button.search-button.active:hover {
  opacity: 1;
  transform: none;
}

button.search-button:focus {
  outline: none;
}

button.search-button span {
  color: white;
  font-weight: 800;
}

button.search-button.active {
  border-radius: 0;
  width: .5em;
}

main {
  padding-top: 4em;
}

main section.articles {
  padding: 1em;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}

@media (min-width: 40rem) {
  main section.articles article {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  main section.articles article {
    width: 33.3333%;
  }
}
article {
  background-color: white;
  display: inline-block;
  border-radius: 12.5px;
  margin: 1em;
  max-width: 20em;
}

article img {
  border-radius: 12.5px 12.5px 0px 0px;
  width: 20em;
  height: 10em;
  object-fit: cover;
}

article section {
  padding: 1em;
}

article button {
  margin: 1em 0em 0em 0em;
  padding: .5em;
}

@media screen and (max-width: 510px) {
  header ul {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
    width: 100%:
  }
  
  header {
    height: 8em;
  }
  
  main {
    padding-top: 8em;
  }
}