*,
*::before,
*::after { 
  box-sizing: border-box;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition:  all .21s;
  list-style-type: none
}

body {
    background-color: #F5F5F6;
  color: #999999;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */

.logo {
  height: 4em;
  width: 4em;
  padding: .5em;
  vertical-align: center;
}

header {
  height: 4em;
  background-color: #FFF;
  position: fixed;
  width: 100%;
  z-index: 1;
  margin: 0;
  padding: 0;
  transition: ease background .5s;
  -webkit-box-shadow: 0em 0.3125em 0.5em -0.125em rgba(0,0,0,0.25); 
    -moz-box-shadow: 0em 0.3125em 0.5em -0.125em rgba(0,0,0,0.25); 
    box-shadow: 0em 0.3125em 0.5em -0.125em rgba(0,0,0,0.25); 
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header .nav {
  padding: 1.2rem;
  color: white;
}

header .nav li {
  padding: 0em 2em;
}
header .nav li:hover {
  color: red;
}

header .nav li.this__page {
  text-decoration: underline;
}

header h1 {
  -webkit-text-fill-color: #D82331; /* Will override color (regardless of order) */
    font-size: 1em;
    line-height: 3.75em;
}

ul {
  display: flex;
  justify-content: space-between;
}

.search-container {
  font-size: 1em;
  padding: 0.5em;
}

header li input, header li button {
  font-size: inherit;
  height: 3em;
  width: 3em;
}

header li input {
  width: 12em;
}

input.search-box {
  padding: 1em;
  display: none;
  border: 1px solid grey;
  border-radius: 100%;
}

input.search-box.active {
  display: inline-block;
  position: relative;
  border-radius: 0;
}

button.search-button {
  border-radius: 100%;
  border: 0;
  background-color: #BC0F00;
  transition: .5s;
}

button.search-button:hover {
  opacity: .9;
  transform: scale(1.1);
  cursor: pointer;
}

button.search-button.active:hover {
  opacity: 1;
  transform: none;
}

button.search-button:focus {
  outline: none;
}

button.search-button span {
  color: white;
  font-weight: 800;
}

button.search-button.active {
  border-radius: 0;
  width: .2em;
}


/* MAIN */
main {
  padding-top: 4em;
  z-index: 0;
}

/* Verhalen cards */
main > section > article {
  color: black;
  background-color: white;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}

#heart {
  border-radius: 365px;
  border-style: none;
  position: relative;
  right: 0;
  z-index: 999;
  background-color: #fff;
  color: red;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 2em;
  height: 2em;
}

#heart .liked {
  color: white;
  background-color: red;
}

#heart:hover {
  transform: scale(1.2);
}

#heart:focus {
  outline: 0;
}

.fa-heart-o {
  color: white;
  cursor: pointer;
  font-size: 1em;
}

.fa-heart {
  color: red;
  cursor: pointer;
  font-size: 1.2em;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0rem 1rem 2rem 1rem;
}

.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
          cursor: pointer;
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__title {
  color: #13679C;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: uppercase;
}

h2 span.h2__border {
  position: relative;
  padding-bottom: 0.375em;
}

h2 span.h2__border::after{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 0.125em solid #ed1a2d;
  content:  "";
}
.card__short_text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  margin-top: 1.5rem;
}

/* Actie element (call to action button) */

main section.actie {
  margin: 5em 0em;
  background-color: #00477F;
  color: white;
  padding: 3em 15%;
  position: relative;
  z-index: 10;
}

main section.actie h2 {
  margin: 1em 0em;
  font-size: 1em;
}

main section.actie button {
  background-color: white;
  color: #13679C;
  border-radius: 0.3125em; /* 5/16 */
  border: none;
  padding: 1em;
  font-weight: 600;
}

main section.actie button span {
  color: #ed1a2d;
  margin: 0em 0em 0em 2em;
}

span.line {
  border-bottom: 0.125em solid #ed1a2d; /* 2/16 */
  display: block;
  width: 7em;
}
