* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
body {
  background-color: #f5f5f6;
}

section.verhalen {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

.text--medium {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #595959;
}

/* HEADER */

.logo {
  height: 4em;
  width: 4em;
  padding: 0.5em;
  vertical-align: center;
}

header {
  height: 4em;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
  margin: 0;
  padding: 0;
  transition: ease background 0.5s;
  -webkit-box-shadow: 0em 0.3125em 0.5em -0.125em rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0em 0.3125em 0.5em -0.125em rgba(0, 0, 0, 0.25);
  box-shadow: 0em 0.3125em 0.5em -0.125em rgba(0, 0, 0, 0.25);
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header .nav {
  padding: 1.2rem;
  color: white;
}

header .nav li {
  padding: 0em 2em;
}
header .nav li:hover {
  color: red;
}

header .nav li.this__page {
  text-decoration: underline;
}

header h1 {
  -webkit-text-fill-color: #d82331; /* Will override color (regardless of order) */
  font-size: 1em;
  line-height: 3.75em;
}

ul {
  display: flex;
  justify-content: space-between;
}

.search-container {
  font-size: 1em;
  padding: 0.5em;
}

header li input,
header li button {
  font-size: inherit;
  height: 3em;
  width: 3em;
}

header li input {
  width: 12em;
}

input.search-box {
  padding: 1em;
  display: none;
  border: 1px solid grey;
  border-radius: 100%;
}

input.search-box.active {
  display: inline-block;
  position: relative;
  border-radius: 0;
}

button.search-button {
  border-radius: 100%;
  border: 0;
  background-color: #bc0f00;
  transition: 0.5s;
}

button.search-button:hover {
  opacity: 0.9;
  transform: scale(1.1);
  cursor: pointer;
}

button.search-button.active:hover {
  opacity: 1;
  transform: none;
}

button.search-button:focus {
  outline: none;
}

button.search-button span {
  color: white;
  font-weight: 800;
}

button.search-button.active {
  border-radius: 0;
  width: 0.2em;
}

#heart {
  border-radius: 365px;
  border-style: none;
  position: relative;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 2.5em;
  height: 2.5em;
  margin-left: auto;
  outline: none;
  padding: 0.75rem;
}

#heart:hover .border-heart {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.border-heart {
  color: red;
}
.selected-heart {
  color: red;
}

.time__icon {
  color: #13679c;
}
.fa-heart-o {
  color: white;
  cursor: pointer;
  font-size: 1.2em;
}

.fa-heart {
  color: red;
  cursor: pointer;
  font-size: 1.2em;
}

.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
}

.card__image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  cursor: pointer
}

.card__image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__content {
  padding: 20px;
}

.card__title {
  margin-bottom: 20px;
  color: #13679c;
  font-weight: 600;
}

.card__info {
  display: flex;
  align-self: end;
  align-items: center;
  padding-top: 1rem;
}

.card__category {
  margin-left: auto;
  padding: 5px 20px;
  background-color: #13679c;
  border-radius: 20px;
  color: #ffffff;
}

main {
  padding-top: 4em;
  z-index: 0;
}

main section.actie {
  margin: 5em 0em;
  background-color: #00477f;
  color: white;
  padding: 3em 15%;
  position: relative;
  z-index: 10;
}

main section.actie h2 {
  margin: 1em 0em;
  font-size: 1em;
}

main section.actie div {
  background-color: white;
  color: #13679c;
  border-radius: 0.3125em; /* 5/16 */
  border: none;
  padding: 1em;
  font-weight: 600;
  display: inline-block;
}

main section.actie div span {
  color: #ed1a2d;
  margin: 0em 0em 0em 2em;
}

span.line {
  border-bottom: 0.125em solid #ed1a2d; /* 2/16 */
  display: block;
  width: 7em;
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  section.verhalen {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  section.verhalen {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
}
